        <div class="main-help-icons container">
            <div class="col w-25 vertty-help">
                <div>
                    <div>
                        <img id="tab1" src="{{ 'help-icon-01.png' | asset_url }}" alt="">
                        <span class="over-tryangle"><img src="{{ 'help-icon-over-01.png' | asset_url }}" alt=""></span>
                    </div>
                    <hr>
                    <h4>Order Issues</h4>
                </div>
            </div>
            <div class="col w-25 vertty-help">
                <div>
                    <div>
                        <img id="tab2" src="{{ 'help-icon-02.png' | asset_url }}" alt="">
                        <span class="over-tryangle"><img src="{{ 'help-icon-over-02.png' | asset_url }}" alt=""></span>
                    </div>
                    <hr>
                    <h4>Payments</h4>
                </div>
            </div>
            <div class="col w-25 vertty-help">
                <div>
                    <div>
                        <img id="tab3" src="{{ 'help-icon-04.png' | asset_url }}" alt="">
                        <span class="over-tryangle"><img src="{{ 'help-icon-over-04.png' | asset_url }}" alt=""></span>
                    </div>
                    <hr>
                    <h4>Delivery</h4>
                </div>
            </div>
            <div class="col w-25 vertty-help">
                <div>
                    <div>
                        <img id="tab4" src="{{ 'help-icon-03.png' | asset_url }}" alt="">
                        <span class="over-tryangle"><img src="{{ 'help-icon-over-03.png' | asset_url }}" alt=""></span>
                    </div>
                    <hr>
                    <h4>Returns &amp; Refund</h4>
                </div>
            </div>
        </div>
        
        <div class="help-texts">
           <div id="tab1" class="container tab">
               <div class="col w-33">
                   <h4>Faulty Items</h4>
                   <p>
                    We want to sort out any issues with faulty items straightaway.
                    As soon as you discover a fault, please send us an email to hello@tryvertty.com with: <br>
                   </p>
                    <ul style="list-style: disc;padding-left: 15px;">
                        <li>The order number,</li>
                        <li>The faulty item's name and number,</li>
                        <li>A description and photo of the fault.</li>
                    </ul>  
                    <p>
                       <br>
                        We'll get back to you as soon as we can and send you a replacement item as quickly as we can.
                    </p>
               </div>           
               <div class="col w-33">
                   <h4>Missing Items</h4>
                   <p>
                    Vertty provides Worldwide Delivery in 2 to 3 days whenever you select DHL service or delivery in Portugal. If you choose EMS Non Priority your order will be delivered in 5 to 10 business days. Please allow until this date for your order to arrive. <br>
                    You’ll be able to follow your order if it’s been sent with a trackable service. Whenever we ship your order you’ll receive an automatic email with the number of your package and the link to track it. Your tracking link will be able to provide up to date information on the status of your order. <br>
                    If your estimated delivery date has passed and you haven’t received your order, just click on the chat item so we can help you further.
                   </p>
               </div>           
               <div class="col w-33">
                   <h4>Wrong Item</h4>
                   <p>
                    We want to sort out any issues with incorrect items straight away. <br>
                    Please send us an email to hello@tryvertty.com notifying us of the situation. Include your order number and the incorrect item's name and product number. <br>
                    We'll get back to you as soon as we can to schedule the pick-up of the wrong item and send you a replacement item as quickly as we can.                       
                   </p>
               </div>           
           </div>
           <div id="tab2" class="container tab" style="display: none">
               <div class="clear" style="margin: 30px auto">
               <div class="col w-33">
                   <h4>Payment types</h4>
                   <p>
                    Vertty provides the following types of payment to pay for your order: Visa, MasterCard, American Express, PayPal and Bank Transfer. We take your security very seriously, therefore your details are safe with us. <br>
                    If you choose Bank Transfer as your payment method, you’ll be notified by email to send us the proof of transfer. We will only consider your payment and prepare the order when we successfully receive the proof of transfer. <br>
                    We also take fraud very seriously too, so all credit and debit card holders are subject to validation and authorization by both us and the card issuer. We only ask for your payment details when you come to pay for your order.                       
                   </p>
               </div>           
               <div class="col w-33">
                   <h4>WHEN WILL I BE CHARGED?</h4>
                   <p>
                    If your card is authorized, payment will be taken as soon as our team confirms the order, and you will receive an email confirming that your order has been successful. <br>
                    If you choose to pay via Bank Transfer, you will be charged at the moment of transfer.                       
                   </p>
               </div>           
               <div class="col w-33">
                   <h4>Promotion codes</h4>
                   <p>
                    You need to enter the code exactly as given to you, without any spaces. Type or copy and paste the code into the ‘Discount’ box (you'll find it on the 'Shipment Method' section, beneath the items in your order) and click ‘Apply’. The system should update the costs automatically. <br>
                    If you find that your promo code isn’t working then please check the below: <br>
                   </p>
                    <ul style="list-style: disc;padding-left: 15px;">
                        <li>You can only use one discount/promocode per order. This applies to our free delivery codes too.</li>
                        <li>Codes may only be valid for certain items and the majority of codes will have an expiry date. You should be able to find the conditions in the same place you found the code whether it be through an email or on our website. </li>
                        <li>Some codes will only work for specific people or for specific countries. The terms and conditions will state if the code can only be used in a certain country. </li>
                    </ul> 
               </div>
               </div>
               <div class="clear" style="margin: 30px auto">
               <div class="col w-33">
                   <h4>Invoice for purchases</h4>
                   <p>
                    When you wish to receive the invoice of your order, after finishing your purchase you should receive an email confirmation. Please answer that email and state you would like to receive the invoice and include your full name, fiscal information (if applicabland address. We will analyze the information and send you invoice as soon as we can.
                   </p> 
               </div>  
               </div>         
           </div>
           <div id="tab3" class="container tab" style="display: none">
               <div class="col w-33">
                   <h4>TYPES OF DELIVERY – CAN I CHOOSE?</h4>
                   <p><b>Portuguese Deliveries</b></p>
                   <p>
                    For orders delivered in Portugal Vertty offers the shipment through CTT Express with a delivery time of 2 business days. As soon as the order is shipped you’ll receive an email confirmation. <br>
                    </p>
                    <p>
                    <b>International Deliveries</b>
                    </p>
                    <br>
                    <p>
                    For international orders we offer express and non-priority service, the last only for orders under 2Kg. When completing your purchase you can select the ‘Shipping Method’ that you prefer and you’ll be informed of the cost of each shipping option. <br>
                    Express Service is delivered by DHL with delivery in 2 to 3 business days. The non-priority service is delivered by the regular post office and should be delivered in 5 to 10 business days. This last option is only available for orders lower that 2Kg. In case of any questions related to the Sizing and Packaging of the products, check the section ‘Product & Stock’.
                   </p>
               </div>           
               <div class="col w-33">
                   <h4>Tracking my delivery</h4>
                   <p>
Once we have fulfilled your order you’ll receive an automatic email with the carrier service, the tracking number of your delivery and a link to check the state of the delivery. This is updated by the carrier service and so will give you the most accurate information. <br>
If you have any difficulties in with the tracking number please contact us through the live chat with your order number and tracking number and we’ll solve the situation as soon as we can.
                       
                   </p>
               </div>           
               <div class="col w-33">
                   <h4>WHAT HAPPENS IF I’M NOT IN WHEN THE ORDER ARRIVES?</h4>
                   <p><b>Portuguese Deliveries</b></p>
                   <p>
                    Someone needs to be in when your parcel arrives as the delivery service will need a signature. Don’t worry if you aren’t as the carrier will leave a card telling you where it is and the deadline for pick-up. Please be prompt at picking up the order or it will be shipped back to our warehouse and it will occur in additional shipping costs for you.
                    </p>
                    <p>
                    <b>International Deliveries</b>
                   </p>
                    <br>
                   <p>
                    Someone needs to be in when your parcel is due to be delivered as we may need a signature. Don’t worry if you aren’t as our carrier usually tries to deliver more than once. Alternatively they will leave a card confirming they have either left it with a neighbor, left it in a safe place, when they will try to redeliver or give you details on how to collect it.                       
                   </p>
               </div>           
           </div>
           <div id="tab4" class="container tab" style="display: none">
               <div class="clear" style="margin: 30px auto">
               <div class="col w-33">
                   <h4>Returns Policy</h4>
                   <p>
                    If you want to return a defective or wrongly placed product, click here (insert link para outra página). If you want to exchange an article for a different one check this link.
                    If you are, for whatever reason, not happy with the products you ordered, you may return the products within 15 calendar days after delivery, as long as:
                   </p>
                     <ul style="list-style: disc;padding-left: 15px;">
                        <li>the products are unwashed and unused.</li>
                        <li>the product is in its original, undamaged packaging.</li>
                        <li>the product is complete.</li>
                    </ul>                      
                    <p>
                    As soon as the product reaches our warehouse and we will analyze the product and proceed to the refund. You will be refunded for the product cost. Vertty doesn’t refund the shipping value in this specific case of returns for whatever reason.
                   </p>
               </div>           
               <div class="col w-33">
                   <h4>HOW DO I RETURN SOMETHING?</h4>
                   <p>
                    <b>Returns Within Portugal</b>
                    If you wish to return your product, please contact us through email at hello@tryvertty.com with stating your order number and the reason of the return and our Operations team will get back to you as soon as possible to schedule the pick-up of the product.
                    <b>International Returns</b>
                    If you wish to return your product, please contact us through email at hello@tryvertty.com with stating your order number and the reason of the return and our Operations team will get back to you as soon as possible. If you processed your order through Express Delivery we will schedule the pick-up based on your availability. If you chose Non-Priority Shipping you should be the one responsible for shipping the item to our warehouse with the following address: <br>
                    ENJOYMAGNOLIA, Lda
                    Rua da Quintinha, 70B
                    1200-368 Lisboa, Portugal <br>
                    Please contact us prior to shipping the item so that we register your return and can follow up on your situation through the order number.                       
                   </p>
               </div>           
               <div class="col w-33">
                   <h4>REFUNDING DELIVERY CHARGES</h4>
                   <p>
                    Vertty will cover all delivery charges when the product is defective, misplaced or you return it within the 15 days after delivery. When you wish to return your product after the 15 available days we will debit the shipping charges from the refund amount.                       
                   </p>
               </div>
               </div>
               <div class="clear">
               <div class="col w-33">
                   <h4>CANCELLING ORDERS</h4>
                   <p>
                   You may cancel any order, provided it has not yet been shipped. If you have submitted an order and wish to cancel, please check the status of your order first by visiting the Account link at the top right of the relevant Website. If the status of your order is Register we might still be able to cancel your order so contact us by answering the confirmation email of your purchase or through the live chat at the Website by stating your order reference and requesting an order cancellation. Our Customer Care service will request a cancellation of your order at our warehouse. If successful, they will send you an email and the cancellation will be free of charge. If cancellation was not possible, the products will be delivered to you, which you will need to refuse upon receipt. The products will be returned to us and your money will be refunded.                     
                   </p>
               </div> 
               <div class="col w-33">
                   <h4>CANCELLING ORDERS</h4>
                   <p>
                    You may return the product and exchange it for another. When you process the return in the 15 days this exchange will be free of charge in terms of the shipping and you’ll need to pay or receive the difference between the products your exchanging (if applicable). If the 15 days have passed we will charge you shipping costs before exchanging the product.  <br>
                    In either case it is important for you to guarantee that the product meets the Return Requirements:               
                   </p>
                     <ul style="list-style: disc;padding-left: 15px;">
                        <li>is unwashed and unused.</li>
                        <li>is in its original, undamaged packaging.</li>
                        <li>the product is complete.</li>
                    </ul> 
                   <p>
                    In whatever case please email us at hello@tryvertty.com so that we can support you in the best way possible or contact us through our call center.                       
                   </p>
               </div>  
               </div>         
           </div>
        </div>