<div class="main-essence parallax-window" data-parallax="scroll" data-image-src="{{ 'essence_background.jpg' | asset_url }}" data-z-index="0" data-speed="0.2">
    <div class="vertty-about">
        <section class="container">
            <h2>{{ settings.essence_title_1 }}</h2>
            <span class="hashtag">{{ settings.essence_hashtag_1 }}</span>
            <hr>
            <p>{{ settings.essence_description_1 }}</p>                
        </section>
    </div>
    <div class="vertty-about">
        <section class="container">
            <h2>{{ settings.essence_title_2 }}</h2>
            <span class="hashtag">{{ settings.essence_hashtag_2 }}</span>
            <hr>
            <p>{{ settings.essence_description_2 }}</p>                
        </section>
    </div>
    <div class="vertty-about">
        <section class="container">
            <h2>{{ settings.essence_title_3 }}</h2>
            <span class="hashtag">{{ settings.essence_hashtag_3 }}</span>
            <hr>
            <p>{{ settings.essence_description_3 }}</p>                
        </section>
    </div>
    <div class="vertty-about">
        <section class="container">
            <h2>{{ settings.essence_title_4 }}</h2>
            <span class="hashtag">{{ settings.essence_hashtag_4 }}</span>
            <hr>
            <p>{{ settings.essence_description_4 }}</p>                
        </section>
    </div>
    <svg xmlns="http://www.w3.org/6000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="0">
        <defs>
            <pattern id="image1" patternUnits="userSpaceOnUse" width="596" height="575">
                <image xlink:href="{{ 'trama.png' | asset_url }}" x="0" y="0" width="596" height="575"></image>
            </pattern>
        </defs>        
        <path class="xl-triangle" d="M0,50 L100,0 100,100 Z" fill="url(#image1)" />
    </svg> 
    <svg xmlns="http://www.w3.org/6000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="0">
        <defs>
            <pattern id="image1" patternUnits="userSpaceOnUse" width="596" height="575">
                <image xlink:href="{{ 'trama.png' | asset_url }}" x="0" y="0" width="596" height="575"></image>
            </pattern>
        </defs>        
        <path class="xl-triangle" d="M0,50 L100,0 100,100 Z" fill="url(#image1)" />
    </svg> 
    <svg xmlns="http://www.w3.org/6000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="0">
        <defs>
            <pattern id="image1" patternUnits="userSpaceOnUse" width="596" height="575">
                <image xlink:href="{{ 'trama.png' | asset_url }}" x="0" y="0" width="596" height="575"></image>
            </pattern>
        </defs>        
        <path class="xl-triangle" d="M0,50 L100,0 100,100 Z" fill="url(#image1)" />
    </svg> 
    <svg xmlns="http://www.w3.org/6000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="0">
        <defs>
            <pattern id="image1" patternUnits="userSpaceOnUse" width="596" height="575">
                <image xlink:href="{{ 'trama.png' | asset_url }}" x="0" y="0" width="596" height="575"></image>
            </pattern>
        </defs>        
        <path class="xl-triangle" d="M0,50 L100,0 100,100 Z" fill="url(#image1)" />
    </svg>  
</div>