<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
{% if template contains 'product' %}
    <meta property="og:image" content="http:{{ product.featured_image.src | product_img_url: 'grande' }}" />
    <meta property="og:image:secure_url" content="https:{{ product.featured_image.src | product_img_url: 'grande' }}" />
    {% elsif template contains 'article' %}
    
    {% assign img_tag = '<' | append: 'img' %}

    {% if article.content contains img_tag %}   
        {% assign src = article.content | split: 'src="' %}
        {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
        
        {% if src %}
          <meta property="og:image" content="http:{{ src }}" />
          <meta property="og:image:secure_url" content="https:{{ src }}" />
        {% endif %}
    {% endif %}
    
{% else %}
  {% if settings.use_logo %}
    <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}" />
    <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}" />
  {% endif %}
{% endif %}
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">
  <link rel="canonical" href="{{ canonical_url }}" />
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  <link rel="publisher" href="https://plus.google.com/114701931248467973037" /> 
  
  <meta name="description" content="Reinventing the beach towel concept. Try a different tryangle. hello@tryvertty.com" />	
 <title>{{ page_title }}</title>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
{{ 'vendor.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}

{% if template == 'product' %}
    {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
{% endif %}

{% if blog.handle == 'community' %}
    {{ 'freewall.css' | asset_url | stylesheet_tag }}
{% endif %}

{% if template == 'page' %}
    {% if page.handle == 'women-swimwear' %}
    <style>
        .footer { display: none; }   
    </style>
    {% endif %}
{% endif %}

{% if template == 'index' %}
    <style>
        .footer, header { display: none;} 
    </style>
    {{ 'country.js' | asset_url | script_tag }}
{% endif %}

{{ content_for_header }}

</head>

<body>

{% include 'search' %}
    
<header>
    <nav class="menu">
        <ul>
            <li class="icons i-cart mobile"><a href="/cart"><span class="cart-count">{{ cart.item_count }}</span></a></li>
            <li class="slide-menu hide-m">
                <a href="#">Products</a>
                <div class="slideDownMenu">
                    <ul>
                        <li>
                            <a href="/products/classic-towel"><div><span class="product-icons i-towel"></span> Beach Towel</div></a>
                        </li>
                        <li>
                            <a href="/pages/women-swimwear"><div><span class="product-icons i-w-swimwear"></span>Women's Swimwear</div></a>
                        </li>
                        <li>
                            <a href="/products/backpack"><div><span class="product-icons i-backpack"></span>Backpack</div></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="hide-m"><a href="/pages/essence">Essence</a></li>
            <li class="hide-m"><a href="/pages/community">Community</a></li>
            <li class="logo">
                <a href="/pages/home">
                    <h1>Vertty</h1>
                </a>
            </li>
            <li class="hide-m"><a href="/pages/stores">Stores</a></li>
            <li class="hide-m"><a href="/pages/help-page">Help</a></li>
            <li class="hide-m">
                <ul>
                    <li class="icons i-store"><a href="/cart"><span class="cart-count">{{ cart.item_count }}</span></a></li>
                    <li class="icons i-search"><a href="#"></a></li>
                </ul>
            </li>
            <li class="i-vertty mobile">
                <div href="#" class="i-burger-menu">
                    <span></span>
                </div>
                <div class="navigation-mobile">
                    <ul>
                        <li>
                            <a href="/">Homepage</a>
                        </li>
                        <li class="slide-menu">
                            <a href="/pages/products">Products</a>
                        </li>
                        <li>
                            <a href="/pages/essence">Essence</a>
                        </li>
                        <li>
                            <a href="/pages/community">Community</a>
                        </li>
                        <li>
                            <a href="/pages/stores">Stores</a>
                        </li>
                        <li>
                            <a href="/pages/help-page">Help</a>
                        </li>
                        <!--li>
                            <a href="#" class="i-search">Search</a>
                        </li-->
                    </ul>
                </div>
            </li>
        </ul>
    </nav>  
</header>

{{ content_for_layout }}

  
<footer class="footer">
    <div class="container">
        <ul>
            <li>
                <h5>Menu</h5>
                <ul>
                    <li><a href="/products/classic-towel">Beach Towel</a></li>
                    <li><a href="/pages/women-swimwear">Women's Swimwear</a></li>
                    <li><a href="/pages/essence">Essence</a></li>
                    <li><a href="/pages/community">Community</a></li>
                    <li><a href="/pages/stores">Store</a></li>
                    <li><a href="/pages/help-page">Help</a></li>
                </ul>
            </li>
            <li>
                <h5>Location</h5>
                <ul>
                    <li><a href="https://www.tryvertty.com/">Europe</a></li>
                    <li><a href="http://us.tryvertty.com">Africa</a></li>
                    <li><a href="http://us.tryvertty.com">America</a></li>
                    <li><a href="https://www.tryvertty.com/">Asia</a></li>
                    <li><a href="https://au.tryvertty.com">Oceania</a></li>
                </ul>
            </li>
            <li>
                <h5>Follow</h5>
                <ul>
                    <!--li><a href="#" target="_blank">Newsletter</a></li-->
                    <li><a href="https://www.facebook.com/tryvertty/" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/tryvertty/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.youtube.com/channel/UCfgkBIiQ51vptJKIPgExkpA" target="_blank">Youtube</a></li>
                    <li><a href="https://pt.pinterest.com/tryvertty/" target="_blank">Pinterest</a></li>
                </ul>
            </li>
            <li>
                <h5>Contact</h5>
                <ul>
                    <li>
                        <a href="mailto:hello@tryvertty.com" target="_top">hello@tryvertty.com</a></li>
                    <li>+351 214 047 677</li>
                    <li>Rua da Quintinha n? 70B
                    <br>1200-368 Lisboa, Portugal</li>
                    <li><a href="https://cdn.shopify.com/s/files/1/0230/1455/files/Website_-_Terms_Conditions.pdf?14268442312238754416" style="color:#cccccc">Terms and Conditions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</footer>

{% if template == 'page' %}
    {% if page.handle == 'home' %}
        {{ 'general.bundle.js' | asset_url | script_tag }}
        {{ 'pageGeneral.bundle.js' | asset_url | script_tag }}
    {% endif %}
{% endif %}

{% unless template == 'index' %}

<script type="text/javascript">
    
    window.addEventListener('load', function () {    
        
            var loader = document.getElementById('loader'),
                overlay = document.getElementById('overlay'),
                body = document.getElementsByTagName('BODY')[0];

            TweenLite.to(loader, 0.5, {
                display: 'none',
                alpha: 0,
                ease : 'linear',
                onComplete: function () {
                    TweenLite.to(overlay, 0.5, {
                        display: 'none',
                        alpha: 0,
                        ease : Expo.easeOut
                    });       
                    body.className += ' loaded';
                }
            }); 
            
            console.log("DOM fully loaded and parsed");      
    });    
</script>

{% endunless %}

{% if template == 'product' %}
    {% if product.type == 'Bikini-shape' or product.type == 'Bikini-sport' or product.type == 'Bikini-tryangle' or product.type == 'Bikini-trykini' %}
       
        {{ 'bikini.bundle.js' | asset_url | script_tag }}
        {{ 'productVideo.js' | asset_url | script_tag }}
        {{ 'pageBikini.bundle.js' | asset_url | script_tag }}
        <script type="text/javascript">
            window.productBikini.init({{ product | json }});
        </script>
    
    {% elsif product.type == 'Towel' or product.type == 'Backpack' %}

        {{ 'towel.bundle.js' | asset_url | script_tag }}
        {{ 'productVideo.js' | asset_url | script_tag }}
        {{ 'pageTowel.bundle.js' | asset_url | script_tag }}
        <script type="text/javascript">
            window.product.init({{ product | json }});
        </script>
        
    {% endif %}
{% endif %}

{% if template == 'page' %}  
    {% unless page.handle == 'home' %}

        {% case page.handle %}
    
            {% when 'essence' %}
                {{ 'essence.bundle.js' | asset_url | script_tag }}
                {{ 'jquery-1.9.1.min.js' | asset_url | script_tag }}
                {{ 'parallax.min.js' | asset_url | script_tag }}
                {{ 'pageEssence.bundle.js' | asset_url | script_tag }}
            {% when 'help-page' %}

            {% when 'stores' %}
                {{ 'general.bundle.js' | asset_url | script_tag }}
                {{ 'jquery-1.9.1.min.js' | asset_url | script_tag }}
                {{ 'menu.bundle.js' | asset_url | script_tag }}
                {{ 'googleMaps.js' | asset_url | script_tag }}
                {{ 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAsJ6rfjzYe82Z9fNXb07KUDge8ukp7Uh4&callback=initMap' | script_tag }}
            {% when 'help-page' %}
                {{ 'general.bundle.js' | asset_url | script_tag }}
                {{ 'menu.bundle.js' | asset_url | script_tag }}
                {{ 'help.bundle.js' | asset_url | script_tag }}    
            {% else %}
                {{ 'general.bundle.js' | asset_url | script_tag }}
                {{ 'menu.bundle.js' | asset_url | script_tag }}
        {% endcase %}

    {% endunless %}
{% endif %}

{% if template == 'blog' %}
    {% if blog.handle == 'community' %}
        {{ 'general.bundle.js' | asset_url | script_tag }}
        {{ 'community.bundle.js' | asset_url | script_tag }}
    {% endif %}
{% endif %}
</body>  
</html>