<div id="loader"></div>
<div id="overlay"></div>

<div id="_stores-search" class="stores-search">            
    <form class="form-stores" action="">
        <section class="container">
            <h2>Search in our community</h2>
            <div>
                <label for="search-portal-input" class="visually-hidden">Search on the website</label>
                <input id="filter-results" required="" placeholder="Search for an ambassador and [ PRESS ENTER ]" type="text" autocomplete="off">
            </div>
        </section>    
    </form>
</div> 

<div class="lightbox">

{% for article in blog.articles %}

    {% assign words = article.title | split: '-' %}
    
    <div id="modal-{{ forloop.index }}" class="modal-ambassador" style="display:none">
        <div class="bl-img" style="background-image: url({{ article.image.src | img_url: 'master' }});"></div>
        <div class="bl-text">
            <h2>{{ words[0] }}</h2>
            <span class="hashtag">{{ words[1] }}</span>
            <hr>
            <p>{{ article.excerpt_or_content }}</p>    
        </div>
    </div>

{% endfor %}

</div>
    
<div id="freewall" class="free-wall clearfix" style="margin-top: 249px; width: 100%;">
    
    {% for article in blog.articles %}
                
    <div class="brick" style="background-image: url({{ article.image.src | img_url: 'master' }}); background-size: cover; background-position: center;" onclick="window.modal.init('modal-{{ forloop.index }}', 'overlay')" data-tags="{{ article.tags }}">

    {% assign words = article.title | split: '-' %}
        
        <div class="ambassador">
            <h3>{{ words[0] }}</h3>
            <hr>
            <span class="hashtag">{{ words[1] }}</span>
            {% comment %}
                {{ article.title | escape }}
                {{ article.excerpt_or_content }}
            {% endcomment %}
        </div>
    </div>
    
    {% endfor %}
    
</div>