<div id="loader"></div>
<div id="overlay"></div>

<div class="lightbox">

{% for article in blog.articles %}

    <div id="modal-{{ forloop.index }}" class="modal-ambassador" style="display:none">
        <div class="bl-img" style="background-image: url({{ article.image.src | img_url: 'master' }});background-size:cover;"></div>
        <div class="bl-text">
            <h3>{{ article.title | escape }}</h3>
            <p>{{ article.excerpt_or_content }}</p>    
        </div>
    </div>

{% endfor %}

</div>
    
<div id="freewall" class="free-wall clearfix" style="margin-top: 70px; width: 100%;">
    
    {% for article in blog.articles %}
                
    <div data-modal="modal-{{ forloop.index }}" class="brick" style="background-image: url({{ article.image.src | img_url: 'master' }}); background-size: cover; background-position: center;position: relative!important;">

        <div class="ambassador">
            <a class="fancybox" href="{{ article.image.src | img_url: 'master' }}"></a>
            <h3>{{ article.title | escape }}</h3>
            {% comment %}
                {{ article.excerpt_or_content }}
            {% endcomment %}
        </div>
    </div>
    
    {% endfor %}
    
</div>