{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}


<script>

function incrementItem(id) {
	Shopify.addItem(id, 1);
	var currentVal = parseInt(jQuery("#" + id).find(".qty-val").text());
	jQuery("#" + id).find(".qty-val").text(currentVal + 1);
	updatePriceTotalForItem(id);
}

function updatePriceTotalForItem(id) {
	var pricePer = parseInt(jQuery("#" + id).attr('price'));
	var qty = parseInt(jQuery("#" + id).find(".qty-val").text());
	var priceTotal = Shopify.formatMoney(qty * pricePer,"{{ shop.money_with_currency_format }}");
	jQuery("#" + id).find('.price-value').html(priceTotal);
	updateTotalCartPrice();
}

function decrementItem(id,val) {
	var newQty = val - 1;
	
	if(newQty >= 0) {
		Shopify.changeItem(id, newQty);
		var currentVal = parseInt(jQuery("#" + id).find(".qty-val").text());
		jQuery("#" + id).find(".qty-val").text(newQty);
		updatePriceTotalForItem(id);
	}
}

function removeItem(id) {
	Shopify.removeItem(id);
	jQuery('#'+ id).fadeOut();
	jQuery('#'+ id).attr('price',0);
	updateTotalCartPrice();
}

function updateTotalCartPrice() {
	var totalPrice = 0;
	jQuery(".item").each(function() {
		var rowQty = parseInt(jQuery(this).find(".qty-val").text());
		var rowPrice = parseInt(jQuery(this).attr('price'));
		totalPrice += (rowQty * rowPrice);
	});
	var totalPriceString = Shopify.formatMoney(totalPrice,"{{ shop.money_with_currency_format }}");
    
	jQuery("#total-value").html(totalPriceString);
}

</script>

<div id="loader"></div>
<div id="overlay"></div>
            
<div class="container" id="cart-container">
	
	<div class="row" id="progress-text">
		<div class="span4 offset1 selected">
			SIGN IN
		</div>
		<div class="span4">
			SHIPPING
		</div>
		<div class="span4">
			PAYMENT
		</div>
	</div>
	
	<div class="row" id="progress">
		<img src="{{ 'checkout-triangles.png' | asset_url }}"/>
	</div>
	
	<form action="/cart" method="post" id="cartform" class="clearfix">
	{% for item in cart.items %}
	
	<script>
        var obj = {{ cart.items | json }};    
    </script>
    
	<div class="row item" id="{{ item.id }}" price="{{ item.price }}">
		<div class="span2">
			<a href="{{ item.product.url }}">
	           <img class="product-image" src="{{ item.image | img_url }}"  alt="{{ item.product.title }}" />
	        </a>
		</div>
		<div class="span4">
			<a class="title" href="{{ item.product.url }}">{{ item.title }}</a>
		</div>
		<div class="span4 quantity">
			<div class="quantity-master-container">
				<div class="qt-text">
					<p>QT.</p>
				</div>
				<div class="quantity-contraption-container">
					<div class="quantity-arrow" onclick="incrementItem({{ item.id }});">
						<img src="{{ 'quantity-arrow-up.png' | asset_url }}"/>
					</div>
					<div class="quantity-box">
						<span class="qty-val">{{ item.quantity }}</span>
					</div>
					<div class="quantity-arrow" onclick="decrementItem({{ item.id }}, jQuery('#'+{{ item.id }}).find('.qty-val').text());">
						<img src="{{ 'quantity-arrow-down.png' | asset_url }}"/>
					</div>
				</div>	
				<div class="quantity-availability">
					available
				</div>
			</div>
		</div>
		<div class="span3 price">
			<div class="price-container">
				<div class="price-value">
					{{ item.line_price | money }}
				</div>
			</div>
		</div>
		<div class="span1">
			<a class="remove-button" onclick="removeItem({{ item.id }});">
	      		<img src="{{ 'x-icon.png' | asset_url }}"/>
			</a>
		</div>
	</div>

    {% endfor %}
	
	<div class="row" id="total-row">
		<div class="span13">
			<p class="total-title">TOTAL:</p>
			<p id="total-value">{{ cart.total_price | money }}</p>
		</div>	
	</div>
      
    <div class="row" id="cart-note">
    	<div class="span14">
	      	<label for="note">Where the hell did you find us?</label><br>
	    	<textarea name="note" id="note" rows="3" cols="60" placeholder="Type here...">{{ cart.note }}</textarea>
	   	</div>
    </div>
	
	<div class="row align-right" id="button-row">
		<div class="span14">
			<button type="submit" id="next-button" name="checkout">NEXT STEP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="next-carrot">></span></button>
		</div>
	</div>
	
	<div class="row align-left">
		<p id="call-us-header">
			Need help? Call us.
		</p>
		<div>
			<a href="skype:hello@tryvertty.com?call"><img src="{{ 'skype.png' | asset_url }}"/><p class="call-us-number">hello@tryvertty.com</p></a>
		</div>
		<div>
			<img src="{{ 'phone.png' | asset_url }}"/><p class="call-us-number">+351 911 584 600</p>
		</div>
	</div>
		
	</form>
</div>

{{ 'general.bundle.js' | asset_url | script_tag }}
{{ 'menu.bundle.js' | asset_url | script_tag }}

<script>
    window.alert = function() {};
</script>